@charset "utf-8";
body{
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
	overflow: hidden;
	background:#333030;
}
.page{
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	-ms-transition:1s all ease;
	-o-transition:1s all ease;
	transition:1s all ease;
}

/*nav*/

.scrollBar{
	width:4px;
	background:rgba(108,110,113,0.5);
	height:55%;
	position:fixed;
	right:51px;
	z-index:10;
	top:150px;	
	border-radius:2px;
}
.scrollBar .bar{
	position:absolute;
	left:0;
	top:0;
	border-radius:2px;
	width:100%;
	height:16%;	
	background:#333030;
}
.scrollBar .back_top{
	background:url(../img/top.png) no-repeat center center;
	width:30px;
	height:28px;
	position:absolute;
	left:50%;
	margin-left:-15px;
	bottom:-40px;
	cursor: pointer;
}
.scrollHeigh{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.scrollCon{
	width:100%;
	position:relative;
}
.box_nav{
	width:100%;
	height:80px;
	display:none;	
}
.nav_container{
	width:100%;
	height:400px;
	background:#333030;
	position:relative;
	overflow:hidden;
	z-index:100;
}
.por{
	position:relative;
	overflow:hidden;
	height:100%;

}
.nav_font{
	position:absolute;
	left:50%;
	color:#fff;
	width:400px;
	height:300px;
	font-size:30px;
	left:-200px;
	top:250px;
	margin-left:-200px;
	overflow:hidden;
	text-align:center;
}
.logo{
	width:728px;
	height:90px;
	text-indent:-999px;
	position:absolute;
	left:50%;
	margin-left:-364px;
	top:-90px;
}
.logo a{
	height:100%;
	width:100%;
	position: absolute;
	left: 0;
	top:0;
}
.logo a img{
	height:100%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.nav{
	width:450px;
	height:40px;
	margin-top:20px;
	position:absolute;
	top:0;
	left:1200px;
}
.nav ul{
	width:450px;
	height:40px;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}
.nav_clock{
	width:192px;
	height:35px;
	overflow:hidden;
	position:absolute;
	left:280px;
	top:-100px;
}
.nav_clock li{
	width:24px;
	float:left;
	height:35px;
	position:relative;
}
.nav_clock li.num{
	width:18px;
}
.nav_clock li img{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.nav ul li{
	float: left;
	height:100%;
	line-height:40px;
	padding:0 20px;
}
.nav ul li.on a{
	color:#ffc10e;
}
.nav li a{
	color:#fff;
	height:100%;
	font:16px 'microsoft yahei', Arial, serif;
	font-weight:bold;
}
.nav .slide_bg{
	width:72px;
	height:40px;
	background:black;
	position:absolute;
	left:0;
	top:0;
}

/*end*/

/*个人和技术*/

.person_ct{
	height:800px;
	background:url(../img/bg.png);
	width:100%;
	position:relative;
}
.per_cont{
	position:relative;	
	height:2;
	height:800px;
}
.wk{
	width:440px;
	height:640px;
	position:absolute;
	left:50%;
	margin-left:-220px;
	top:0px;
	background:url(../img/monkey-wandesign2.png) no-repeat;
	z-index:10px;
}
.wk_left{
	width:440px;
	height:640px;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.wk_left span{
	position:absolute;	
	background:url(../img/monkey-wandesign1.png) no-repeat;
}
.per_tit{
	padding-top:10px;
	text-align:center;
	font-family:'Open Sans', Arial, serif;
	font-weight:800;
	color:#a2962a;
	font-size:90px;
	text-transform:uppercase;
	height:150px;
	line-height:100px;
}
.per_tit span{
	font-family:Georgia,serif;
	font-style:italic;
	color:#333030;
	font-weight:normal;
	text-transform:none;
	font-size:70px;	
}

.per_int{
	width:400px;
	height:240px;
	position:absolute;
	left:0px;
	top:100px;
}
.per_int img{
	width:280px;
	height:165px;
	position:relative;
	left:50%;
	margin-left:-140px;
}
.per_rotate,.thc_rotate{
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;	
	-ms-transition:1s all ease;		
	-o-transition:1s all ease;	
	transition:1s all ease;
}
.per_int:hover .per_rotate,.thc:hover .thc_rotate{
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
}
.thc{
	width:400px;;
	height:240px;
	position:absolute;
	right:0px;
	top:100px;
	
}
.thc img{
	width:280px;
	height:165px;
	position:relative;
	left:50%;
	margin-left:-140px;	
}
.per_int .tit{
	position:absolute;
	left:0;
	top:70px;
	width:400px;
	color:#333030;
	font-size:32px;
	font-weight:800;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	font-family:'Open Sans', Arial, serif;
	text-align:center;
}
.thc .tit{
	position:absolute;
	left:0;
	top:70px;
	width:400px;
	color:#333030;
	font-size:32px;
	font-weight:800;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	font-family:'Open Sans', Arial, serif;
	text-align:center;
}
.color_Int{
	color:#A2962A;
	font-weight:normal;
	font-style:italic;
	text-transform: uppercase;
	font-family:Georgia,serif;
	font-size:40px;
}
.color_Int:hover{
		
}
.int_second{
	width:400px;
	padding:36px 0;
	height:36px;
	text-align:center;
	position:relative;
	overflow:hidden;
}
.int_second p{
	width:160px;
	height:36px;
	background:#36d254;
	border-radius:10px;	
	margin:0 auto;
	line-height:36px;
	color:#fff;
	font-family:'Microsoft YaHei', Arial, serif;
	font-weight:700;
	font-size:16px;
	position:relative;
}
.int_second .l,.int_second .r{
	width:148px;
	height:1px;
	background:#333030;
	position:absolute;	
	z-index:2;
}
.int_second .l{
	left:-150px;
	top:71px;	
}
.int_second .r{
	right:-150px;
	top:36px;
		
}
.int_second .b,.int_second .t{
	width:1px;
	height:24px;
	background:#333030;
	position:absolute;
}
.int_second .t{
	left:120px;
	top:-36px;		
}
.int_second .b{
	right:120px;
	top:108px;		
}
.cloud{
	width:100%;
	height:120px;
	background:url(../img/clouds.png) repeat-x 0 -177px;
	position:absolute;
	bottom:40px;
	left:0;	
}
.color_cloud{
	background:#fff;
	height:40px;
	width:100%;	
	position:absolute;
	left:0;
	bottom:0;
}
.wihte{
	width:100%;	
	height:200px;
	background:#fff;
}
.cloud_b_img{
	background:url(../img/clouds-b.png) repeat-x ;
	width:100%;
	height:87px;	
}

/*end*/

/*work*/

.work_ct{
	background:#ffef5c;
	height:900px;	
	padding-bottom:30px;
}
.work_tit{
	margin-top:40px;
	width:100%;
	text-align:center;	
	font-weight:800;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	font-family:'Open Sans', Arial, serif;
	font-size:50px;
}
.wall{
	width:1110;
	padding-top:70px;
	padding-left:90px;	
}
.wall li{
	width:280px;
	height:300px;
	position:relative;
	float:left;
	margin:0 30px 20px; 
}
.wall li .wall_font{
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:700;
	letter-spacing: -0.06em;
	font-size:30px;
	color:#a2962a;
	width:280px;
	height:30px;
	text-align:center;
	line-height:30px;
	position:absolute;
	left:0;
	top:280px;
}
.wall li .mar_wall{
	width:264px;
	height:264px;
	overflow:hidden;
	position:absolute;
	left:8px;
	top:0px;
	border-radius:50%;	
	cursor:pointer;	
}
.move{
	width:264px;
	height:264px;
	background:rgba(0,0,0,0.5);
	position:absolute;
	left:-264px;
	top:0px;
	border-radius:50%;
}
.mar_wall .title{
	width:264px;
	height:264px;
	line-height:264px;
	text-align:center;
	color:#fff;
	font-size:40px;
	font-family:'Open Sans', Arial, serif;
	position:absolute;
	left:-264px;
	top:0;	
}
.common{
	width:280px;
	height:280px;
	position:absolute;
	left:50%;
	margin-left:-140px;
	top:-7px;	
}
.wall_img1{
	background:url(../img/wandesign-web.png) no-repeat;	
}
.wall_img2{
	background:url(../img/wandesign-illustration.png) no-repeat;	
}
.wall_img3{
	background:url(../img/wandesign-development%20.png) no-repeat;	
}
.wall_img4{
	background:url(../img/wandesign-branding.png) no-repeat;	
}
.wall_img5{
	background:url(../img/wandesign-graphic.png) no-repeat;	
}
.wall_img6{
	background:url(../img/wandesign-motion.png) no-repeat;	
}

/*个性信息*/

.geolocation_ct{
	height:670px;
	width:100%;
	background:#ddd47a;
}
.geolocation_tit{
	padding-top:60px;
	width:100%;
	text-align:center;	
	font-weight:800;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	font-family:'Open Sans', Arial, serif;
	font-size:50px;
}
.geo_pos{
	position:relative;
}
.my-info{
	width:500px;
	height:440px;
	position:absolute;
	left:50%;
	margin-left:-550px;
	top:60px;
	padding-left:30px;
}
.my-info h3{
	font-weight:800;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	font-family:'Open Sans', Arial, serif;
	font-size:25px;
	text-align:center;
	padding-bottom: 30px
}
.my-info dl{
	padding-left:70px;
}
.my-info dt{
	float:left;
	font-size:20px;
	line-height:50px;
	width:150px;
	font-weight:bold;
	color:#333030;
	position: relative;
	padding-left:10px;
}
.my-info dd{
	color:#333030;
	float:left;
	font-size:20px;
	line-height:50px;
	width:270px;
	font-weight:bold;
}
.my-info i{
	width:3px;
	height:26px;
	background:#a2962a;
	position:absolute;
	top:50%;
	margin-top:-13px;
	left:0px;
}
.geo_map{
	width:500px;
	height:440px;
	box-sizing:border-box;
	border:10px solid #fff;
	position:absolute;
	left:50%;
	left:600px;
	top:60px;
	background:url(../img/map.png) no-repeat;
}
