body{
	margin:0;
	padding:0;
	overflow: hidden;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.work_box{
	position:relative;
	width:100%;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	position: relative;
	-moz-transform:translateX(0px) translateZ(0px) rotateY(0deg);
}
.work_wrapper{
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	-ms-transition:1s all ease;
	-o-transition:1s all ease;
	transition:1s all ease;

}
.work_wrapper:active{
	-webkit-transform:roateY(90deg);
	-moz-transform:roateY(90deg);
	-ms-transform:roateY(90deg);
	-o-transform:roateY(90deg);
	transform:roateY(90deg);
}
.work_box div{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

/*css*/
.css_ct{
	background:#b3e5f2;
	position: relative;
}
.css_key{
	position: absolute;
	right:50px;
	border:2px solid rgba(255,255,255,1);
	top:50px;
	width:47px;
	height:31px;
	opacity:0.6;
	filter:alpha(opacity:60);
	background:url(../img/keyCode.gif) no-repeat; 
}
.css_island{
	background:url(../img/island_big.png) no-repeat;
	position:absolute;
	left:0;
	bottom:16px;
	width:546px;
	height:480px;
}
.css_wave,.css_wave_1,.js_wave_01,.js_wave_02{
	background:url(../img/下载.svg) repeat-x;
	height:85px;
	width:100%;
	position: absolute;
	left:0;
	bottom: -46px;
}
.css_wave_1{
	bottom: -26px;
	background-position:-22px 0;
	opacity: 0.7;
	filter:alpha(opacity:70);
}
.css_btn{
	width:240px;
	height:40px;
	position:absolute;
	left:50%;
	margin-left:-120px;
	top:50%;
	margin-top:-215px;
}
.css_btn .c_btn{
	background:rgba(78,199,236,0.4);
	width:100px;
	height:40px;
	margin:0 10px;
	color:#fff;
	float:left;
	text-align:center;
	font-size:16px;
	cursor:pointer;
	padding: 0;
}
.css_mountain{
	background:url(../img/mountains_960.png) no-repeat;
	width:484px;
	height:154px;
	position: absolute;
	right:0;
	bottom:10px;
}
.css_ct h1{
	color:#384361;
	font-size: 40px;
	font-family:fregat,'Open Sans',Arial,Helvetica,sans-serif;
	text-align: center;
	position:absolute;
	width:400px;
	left:50%;
	margin-left:-200px;
	top:30px;
}
.css_works{
	width:450px;
	height:300px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top:-130px;
	margin-left:-225px;
	-webkit-transform-style:preserve-3d;
	-webkit-transform:perspective(800px);
	-moz-transform-style:preserve-3d;
	-moz-transform:perspective(800px);
	-ms-transform-style:preserve-3d;
	-ms-transform:perspective(800px);
	-o-transform-style:preserve-3d;
	-o-transform:perspective(800px);
	transform-style:preserve-3d;
	transform:perspective(800px);

}
.css_works li{
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	-ms-transition:1s all ease;
	-o-transition:1s all ease;
	transition:1s all ease;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	border-radius:20px;
	border:4px solid rgba(255,255,255,0.6);
	overflow: hidden;
	opacity:0;
}
.css_works li img,.css_works li a{
	width:100%;
	height:100%;
}
.css_works .cur{
	opacity:1;
	z-index:3;
}
.css_works .l1{
	z-index:2;
	opacity: 1;
	-webkit-transform:translateX(-250px) rotateY(45deg);
	-moz-transform:translateX(-250px) rotateY(45deg);
	-ms-transform:translateX(-250px) rotateY(45deg);
	-o-transform:translateX(-250px) rotateY(45deg);
	transform:translateX(-250px) rotateY(45deg);
}
.css_works .l2{
	z-index:1;
	opacity: 0;
	-webkit-transform:translateX(-320px) rotateY(45deg);
	-moz-transform:translateX(-320px) rotateY(45deg);
	-ms-transform:translateX(-320px) rotateY(45deg);
	-o-transform:translateX(-320px) rotateY(45deg);
	transform:translateX(-320px) rotateY(45deg);
}
.css_works .r1{
	z-index:2;
	opacity: 1;
	-webkit-transform:translateX(250px) rotateY(-45deg);
	-moz-transform:translateX(250px) rotateY(-45deg);
	-ms-transform:translateX(250px) rotateY(-45deg);
	-o-transform:translateX(250px) rotateY(-45deg);
	transform:translateX(250px) rotateY(-45deg);
}
.css_works .r2{
	z-index:1;
	opacity: 0;
	-webkit-transform:translateX(320px) rotateY(-45deg);
	-moz-transform:translateX(320px) rotateY(-45deg);
	-ms-transform:translateX(320px) rotateY(-45deg);
	-o-transform:translateX(320px) rotateY(-45deg);
	transform:translateX(320px) rotateY(-45deg);
}
/*水纹按扭*/
.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  color: #fff;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.c-button:hover, .c-button:focus {
  outline: 0;
  text-decoration: none;
}
.c-button:not(:disabled) {
  cursor: pointer;
}
.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}
.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
.c-ripple.is-active .c-ripple__circle {
  -webkit-animation: a-ripple 0.8s ease-in;
  -moz-animation: a-ripple 0.8s ease-in;
  -ms-animation: a-ripple 0.8s ease-in;
  -o-animation: a-ripple 0.8s ease-in;
          animation: a-ripple 0.8s ease-in;
}
@-webkit-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@-moz-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@-ms-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@-o-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
.c-button--red {
  background: #E9573F;
  text-shadow: 2px 2px 0 #dc3519;
}
.c-button--red:hover {
  background: #e64328;
}

/*js*/
.js_ct{
	background:#273041;
	position:absolute;
	overflow: hidden;
}
.js_wave_01{
	background:url(../img/wave_01.svg) repeat-x;
	opacity: 0.7;
	filter:alpha(opacity:70);
	bottom: -26px;
	background-position:-22px 0;
}
.js_wave_02{
	background:url(../img/wave_02.svg) repeat-x;
	
}
.js_mountain{
	width:571px;
	height:129px;
	position:absolute;
	left:-60px;
	bottom:0;
	background:url(../img/mountains_night_960.png) no-repeat;
}
.js_mayak{
	background:url(../img/mayak_night_960.png) no-repeat;
	width:407px;
	height:115px;
	position: absolute;
	left:120px;
	bottom:0;
}
.js_moon{
	background:url(../img/moon_960.png) no-repeat;
	position:absolute;
	right:60px;
	top:70px;
	width:227px;
	height:227px;
}
.js_ct h1{
	color:#fee818;
	font-size: 40px;
	font-family:fregat,'Open Sans',Arial,Helvetica,sans-serif;
	text-align: center;
	position:absolute;
	width:400px;
	left:50%;
	margin-left:-200px;
	top:30px;
}
.js_works{
	width:864px;
	height:414px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-207px 0 0 -432px;
}
.js_works li{
	width:280px;
	height:130px;
	float:left;
	margin:4px;
	border:3px solid rgba(255,255,255,0.6);
	box-sizing:border-box;
	position: relative;
	overflow: hidden;
}
.js_works li img{
	width:100%;
	height:100%;
}
.js_works li p{
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	-ms-transition:1s all ease;
	-o-transition:1s all ease;
	transition:1s all ease;
	width:100%;
	background:rgba(0,0,0,0.6);
	height:70px;
	text-align: center;
	line-height: 70px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	position:absolute;
	left:0;
	top:130px;
}
.js_works li:hover p{
	top:60px;
}
.js_ct .js_btn{
	width:160px;
	height:28px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:226px;
	margin-left:-80px;
}
.js_ct .js_btn .j_btn{
	width:36px;
	height:28px;
	background:#9ac9d3;
	float:left;
	margin: 2px;
	padding: 0;
	color:#273041;
	font-weight: 600;
}



/*h5*/
.h5_ct{
	background:#54a7f4;
	position:relative;
	overflow: hidden;
}
.h5_ct h1{
	color:#fff;
	font-size: 40px;
	font-family:fregat,'Open Sans',Arial,Helvetica,sans-serif;
	text-align: center;
	position:absolute;
	width:400px;
	left:50%;
	margin-left:-200px;
	top:30px;
}
.h5_crystal{
	background:url(../img/crystal_960.jpg) no-repeat;
	width:621px;
	height:678px;
	position:absolute;
	right:0;
	bottom: -300px;
}
.h5_fish{
	background:url(../img/zeppelin_960.gif) 0 0 no-repeat;
	width:468px;
	height:83px;
	position:absolute;
	left:450px;
	top: 60px;
}
.h5_octopus{
	background:url(../img/kraken.gif) 0 0 no-repeat;
	width:232px;
	height:121px;
	position:absolute;
	left:80px;
	bottom:-10px;
}
.h5_works{
	width:900px;
	height:450px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-177px 0 0 -432px;
	overflow: hidden;
	display:none;
}
.h5_works li{
	width:280px;
	height:130px;
	float:left;
	margin:10px;
	position: relative;
	-webkit-transform-style:preserve-3d;
	-webkit-transform:perspective(800px);
	-moz-transform-style:preserve-3d;
	-moz-transform:perspective(800px);
	-ms-transform-style:preserve-3d;
	-ms-transform:perspective(800px);
	-o-transform-style:preserve-3d;
	-o-transform:perspective(800px);
	transform-style:preserve-3d;
	transform:perspective(800px);
	opacity: 0;
	filter:alpha(opacity:0);
}
.h5_works li a{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:3px solid rgba(255,255,255,0.6);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transform-origin:center top;
	-moz-transform-origin:center top;
	-ms-transform-origin:center top;
	-o-transform-origin:center top;
	transform-origin:center top;
	overflow: hidden;

}
.h5_works li img{
	width:100%;
	height:100%;
}
.h5_works li p{
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	-ms-transition:1s all ease;
	-o-transition:1s all ease;
	transition:1s all ease;
	width:100%;
	background:rgba(0,0,0,0.6);
	height:50px;
	text-align: center;
	line-height: 50px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	position:absolute;
	left:0;
	top:130px;
}
.h5_works li:hover p{
	top:80px;
}
.ajax_ct{
	background:#b3e5f2;
	position: relative;
}
.ajax_ct h1{
	color:#384361;
	font-size: 36px;
	font-family:'微软雅黑';
	text-align: center;
	position:absolute;
	width:300px;
	left:50%;
	margin-left:-150px;
	top:30px;
}
.mobile_works{
	position:absolute;
	width:644px;
	height:282px;
	left:50%;
	top:50%;
	top:201px;
	margin-left:-322px;
}
.mobile_works li{
	float:left;
	width:282px;
	height:282px;
	margin:0 20px;
}
.mobile_works li img{
	width:100%;
	height:100%;
}